.TodoList {
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    input {
      border: solid 1px rgb(155, 155, 155);
      outline: none;
      border-radius: 5px;
    }

    input[type="submit"] {
      padding: 10px;
      color: white;
      background-color: rgb(82, 82, 243);
      border: none;
      border-radius: 12px;
      cursor: pointer;
    }
  }

  h1 {
    text-align: center;
  }

  ul {
    color: rgb(255, 255, 255);
    padding: 0 20px;
  }

  li {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;

    button {
      border: none;
      border-radius: 50%;
    }
  }

  .checked {
    background-color: rgb(55, 210, 65);
  }

  .unchecked {
    background-color: rgb(255, 64, 64);
  }
}
